.linkedButton{
    padding:0px;
    margin-left: 83%;
}
.title{
    margin-top: 3px;
    margin-left:3%;
}
.container{
    margin-top:7%;
}
#signupButton{
    margin-left: 80%;
}
#findpasswordbtn{
    margin-left: 37%;
}